/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/09/2016, 11:40:47 PM
    Author     : disable
*/
body{
//    background-image: url(../img/salaJuntasmod1.jpg)!important;
//    background-image: url(../img/salaJuntasmod2.jpg)!important;
//    background-image: url(../img/salaJuntasmod3.jpg)!important;
    background-image: url(../img/salaJuntasmod4.jpg)!important;
//    background-image: url(../img/salaJuntasmod5.jpg)!important;
    background-size:100%120%;
}
.ui-widget-content{
    font-size:95% !important;
    //  background-image: url(../img/metalbackground3.jpg)!important;
    border-radius: 0.6em!important;
    -webkit-border-radius:0.6em!important;
    box-shadow: rgba(0,0,0,0.9) 10px,10px,10px!important;
    //margin: 1em auto!important;
    //padding: 2em!important;
    //width: 300px!important;
    text-align: center!important;
    font-family: Verdana,Arial,Helvetica,sans-serif!important;
}

.image-ring .ui-ring-item {
    border: 0 none;
    margin: auto;
    text-align: center;
    margin-top: 195px;
    width: 143px;
    height: 30px;
}
.ui-state-default{
    border: darkblue;
    height: 32px!important;
}

.ui-corner-all .ui-ring-item{
    opacity: 0.70!important;
}
.panelGrid{
    margin: auto;
    text-align: center;
    vertical-align: central;
}
h3{
    color: darkblue;
}

.fc{
    width: 80%!important;
    height: 100%!important;
    margin: auto;
    text-align: center;
    vertical-align: central;
}